<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.mahalaxmi.price"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Price</name>
 
    <description>
        A simple price application
    </description>
 
    <author email="venkateshragi@gmail.com">
        Venkatesh Ragi
    </author>   
	
	<preference name="permissions" value="none"/>
        	
	<access origin="copy_url_from_web_app"/>
 
</widget>